{% extends 'blog_menu.html' %}
{% load staticfiles %}
{% block title %}
<title>账号登录</title>
{% endblock title %}
{% block head_extra %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock head_extra %}
{% block content %}
    <div class="panel panel-default account_panel col-md-5 col-md-offset-4">
        <div class="panel-heading">
            <h3>登录</h3>
        </div>
        <div class="panel-body ">
            <div class="row text-center vertical-middle-sm">
                <p>请输入用户名、密码</p>
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">
                            <span class="glyphicon glyphicon-user"></span>用户名:
                        </label>
                        <div class="col-md-6 text-left">{{ form.username }}</div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">
                            <span class="glyphicon glyphicon-floppy-open"></span>密码:
                        </label>
                        <div class="col-md-6 text-left">{{ form.password }}</div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="登录" />
                </form>
                <p style="margin-top: 10px"><a href="{% url 'account:pwd_reset:password_reset_recover' %}">忘记密码</a></p>
                <p style="margin-top: 10px">如没有账号，请先<a href="{% url 'account:user_register' %}">注册</a></p>
            </div>
        </div>
    </div>

{% endblock content %}