{% extends 'blog_menu.html' %}
{% block title %}
<title>密码更改</title>
{% endblock title %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>密码更改</h1>
        <p>请输入您的旧密码和新密码，安全起见，请输入两次新密码，验证无误后即修改成功</p>
        {% if form.new_password1.help_text %}     <!--auth.views.password_change实例属性-->
        <div class="text-left" style="margin-left:400px">
            <p>{{ form.new_password1.help_text|safe }}</p>
        </div>
        {% endif %}
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.old_password.label_tag }}
                </label>
                <div class="col-md-6 text-left">{{ form.old_password }}</div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.new_password1.label_tag }}
                </label>
                <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{ form.new_password2.label_tag }}
                </label>
                <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary" value="更改密码" />
        </form>
    </div>
{% endblock content %}